/*header & menu*/
*{
	margin: 0px;
	padding: 0px;
}
#final{
	width: 1920px;
	height: 6000px;
	margin: 0 auto;
}
.phan1{
	widows: 1920px;
	height: 790px;
	background-image: url("menu/hinh.jpg");
}
.top-header{
	width: 1920px;
	height: 100px;
}
.logo{
	width: 620px;
	height: 100px;
	float: left;
}
.hinhlogo{
	margin-left: 420px;
	margin-top: 30px;
}
.menu{
	width: 1300px;
	height: 100px;
	float: right;
}
.menu ul{
	list-style: none;
	margin-top: 40px;
	margin-left: 50px;
}
.menu ul li{
	display: inline-block;
	width: 120px;
	height: 35px;
	border: 2px solid transparent;
	line-height: 35px;
	text-align: center;
	transition:0.5s;
}
.menu a{
	text-decoration: none;
	color: white;
	display: block;
	font-size:15px;
	font-style: bold;
}
.menu ul li:hover{
	border-bottom: white solid 2px; 
}
.body-header{
	width: 1920px;
	height: 690px;
}
.bannder{
	width: 770px;
	height: 690px;
	float:left;
}
.bantay{
	padding-left: 140px;
	padding-top: 5px;
}
.bodycontent{
	width: 1150px;
	height: 690px;
	float: right;
}
.text{
	width: 500px;
	margin-top: 140px;
}
.bodycontent .text h1{
	font-size: 25px;
	color: white;
	font-weight: 500px;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 45px;
}
.bodycontent .text p{
	font-size: 20.5px;
	color: white;
	font-weight: lighter;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 60px;
}
.bodycontent .text button{
	width: 200px;
	height: 60px;
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
	border: solid 3px white;
	background: no-repeat;
	border-radius: 8px;
	color: white;
	margin-right: 40px;
}
.bodycontent .text button:hover{
	background: #fcb040;
	cursor: pointer;
	box-shadow: 4px 3px 3px gray;
	border: none;
}
/*leading monetization*/
.phan2{
	width: 1920px;
	height: 690px;
	background-image: url("phần 2/Untitled-4.jpg");
}
.content2{
	width: 940px;
	height: 690px;
	float: left;
}
.text2{
	width: 530px;
	margin-top: 120px;
	margin-left: 300px;
}
.content2 .text2 h1{
	font-size: 30px;
	color: #444e5d;
	font-weight: 500px;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 35px;
}
.chunho {
	font-size: 25px;
	color: orange;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 55px; 
}
.content2 .text2 p{
	width: 530px;
	font-size: 25px;
	color: #444e5d;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 60px;
}
.content2 .text2 button{
	width: 200px;
	height: 60px;
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
	border: solid 3px #444e5d;
	background: no-repeat;
	border-radius: 8px;
	color: #444e5d;
	margin-right: 40px;
}
.content2 .text2 button:hover{
	background: #fcb040;
	cursor: pointer;
	border: none;
}
.image2{
	width: 980px;
	height: 690px;
	float: right;
}
.maytinh {
	height: 400px;
	margin-top: 40px;
}
/*our partners*/
.phan3{
	width: 1920px;
	height: 545px;
	background-image: url("phần 3/phan-3.jpg");
	text-align: center;
	display: inline-block;
	margin: 0px auto;
}
.text3 h2{
	font-size: 30px;
	color: #444e5d;
	font-weight: 500px;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 90px;
	margin-top: 95px;
}
.seemore p{
	text-decoration: underline;
	font-size: 30px;
	padding-top: 80px;
}
.content3{
	width: 1116px;
	height: 60px;
	background-image: url("phần 3/Untitled-4.png");
	margin: auto;
}
/*Set your revenue yo autopilot*/
.phan4{
	width: 1920px;
	height: 625px;
	background-image: url("phan 4/Untitled-1.jpg");
	text-align: center;
	margin: 0px auto;
}
.phan4 h2{
	font-size: 30px;
	color: white;
	font-weight: 500px;
	font-family: 'Montserrat', sans-serif;
	padding-top: 95px;
}
.cot{
	width: 1200px;
	height: 215px;
	margin-top: 70px;
	float: center;
	margin: auto;
	margin-top: 65px;
}
.cot .cot1{
	width: 300px;
	height: 215px;
	float: left;
	margin: auto;
	margin-left: 70px;
	text-align: left;
}
.cot .cot1 img{
	width: 22px;
	height: 22px;
	float:left;
	margin-right: 10px;
}
.cot .cot1 .chunho1 h3{
	font-size: 20px;
	color: #5c6877;
	float: right;
	padding-top: 20px;
	font-family: 'Montserrat', sans-serif;
}
.cot .cot1 p{
	margin-top: 31px;
	font-family: 'Montserrat', sans-serif;
}
.phan4 button{
	width: 200px;
	height: 60px;
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
	border: solid 3px 0px;
	background: #fcb040;
	border-radius: 8px;
	color: white;
	margin-right: 40px;
	margin-top: 60px;
}
/*the most powerful*/
.phan5{
	width: 1920px;
	height: 640px;
	background-color: white;
}
.image3{
	width: 980px;
	height: 640px;
	float: right;
	margin-top: 20px;
}
/*supported ad formats*/
.phan6{
	width: 1920px;
	height: 1060px;
	background-image: url("phan 6/Untitled-1.jpg");
	text-align:center;
	margin: 0px auto;
}
.phan6 h2{
	font-size: 30px;
	color: #444e5d;
	font-weight: 500px;
	font-family: 'Montserrat', sans-serif;
	padding-top: 95px;
}
.banner6{
	width: 1920px;
	height: 700px;
	float: left;
}
.banner6 .cot2{
	width: 285px;
	height: 500px;
	float: left;
	margin-left: 80px;
	margin-top: 100px;
	overflow: hidden;
	border: 1px solid #e5e5e5;
}
.cot2 img{
	width: 100%; 
    height: 100%;  
    transition-duration: 0.5s;
}
.cot2 img:hover{
	transform: scale(1.2);
	cursor: pointer; 
}
.nut button{
	width: 20px;
	height: 20px;
	border: solid 3px 0px;
	background: white;
	border-radius: 10px;
	color: white;
	margin-right: 40px;
	margin-top: 60px;
}
.nut button:hover{
	background: #fcb040;
	cursor: pointer;
	border: none;
}
/*footer and contact us*/
.phan7{
	width: 1920px;
	height: 465px;
	background-image: url("PHAN 7/Untitled-2.jpg");
	margin: 0px auto;
	display: inline-block;
	text-align: center;
}
.phan7 h2{
	padding-top:100px;
	font-size: 40px;
	color: white;
	font-family: 'Montserrat', sans-serif;
}
.phan7 p{
	padding-top: 120px;
	font-size:	25px;
	color: white;
	font-family: 'Montserrat', sans-serif;
}
/*phan8*/
.phan8{
	width: 1920px;
	height: 115px;
	background-color: #2a3039;
}
.phan8 .logo8{
	width: 940px;
	height: 115px;
	float: left;
}
.phan8 .logo8 p{
	color: white;
	margin-left: 450px;
	margin-top: 40px;
	font-size: 25px;
}
.phan8 .content8{
	width: 980px;
	height: 115px;
	float:right;
}
.content8 .icon8{
	margin-left:  50px;
	padding-top: 25px;
	display: inline-block; 
}


